body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

.text-center{
    text-align: center;
}

.span-header-1{
    font-size: 40px;
    font-weight: bold;
}

.span-header-2{
    font-size: 26.37pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.span-header-3{
    font-size: 9.44pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.span-header-sub{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

/* section 5 style */
.top-margin{
    margin-top: 220px;
}

.padding-top{
    padding-top: 20px;
}
.section-3-content{
    font-size: 7.29pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}