/* === start header css === */
.logo {
    float: left;
    padding: 10px 20px;
}

nav{
    width: 100%;
    position: sticky;
    top: 0;
    background-color:#fff;
    z-index:1;
}

.header-nav {
    margin: 0 auto;
    padding: 0;
    text-align: right;
}

.header-nav li {
    list-style: none;
    display: inline-block;
    margin: 35px 20px;
}

.header-nav a,
.header-nav li a:hover {
    color: #333;
    font-weight: bold;
    font-family: Verdana;
    text-decoration: none;
    font-size: 19.31px;
}

.header-nav li.register-btn a {
    background: rgba(253,191, 8, 1);
    border-radius: 25px; 
    color: #fff;
    padding: 10px 25px
}

.header-nav li.register-btn a:hover {
    color: #0056b3;
}

.header-nav li.login-btn a:hover,
.header-nav li.signup-btn a:hover {
    color: #0056b3;
}

.toggle {
    display: none;
}

/* .img-bg{
    background: url("img/img1.jpg");
    background-size: cover;
    height: 523px;
} */

/* === end header css === */

/* ================================= */
/* ================================= */

/* === start carousel css === */

.carousel-inner img {
  width: 100%;
  max-height: 473px;
}

.carousel-caption {
    right: 45% !important;
    bottom: 25% !important;
}

.btn {
    border: 1px solid #fff;
    background-color: rgba(253,191, 8, 1);
    border-radius: 25px !important;
    padding: 10px 25px !important;
}

.btn a {
    color: #fff;
    font-family: Verdana;
    font-weight: bold;
    font-size: 19.31px;    
    text-decoration: none;
}

.btn a:hover {
    text-decoration: none;
}

/* === end carousel css === */

/* ================================= */
/* ================================= */

/* div checker */

.div-checker{
    height: 200px;
}

.div1 {
    background: red;
}

.div2 {
    background: yellow;
}

.div3 {
    background: green;
}

/* div checker */ 

/* new main css */

.bg-checker {
    background: url("midsection/gray.png");
    background-size: 100% 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.section-spacing {
    margin: 100px 0px;  
}

.content-title {
    font-family: Verdana;
    font-size: 21.31pt;
    color: #000;
    font-weight: bold;
}

.content-body {
    font-family: Verdana;
    font-size: 11.28pt;
    color: #000;
    font-weight: 400;
}

.main-section-1 p {
    font-size: 26.37pt;
    font-family: Verdana;
    font-weight: bold;
}

.img-section2 img{
    height: 78px;
    width: 78px;
}

.gray-font {
   color: gray;
}

.categories {
    font-size: 14.65pt;
    font-weight: bold;
    font-family: Verdana;
    padding: 10px 0px 0px;
}

.categories img {
    width: 18px;
    height: 18px;
}

.categories img.weird-image {
    width: 14px;
    height: 18px;
}

.sub-categories {
    font-size: 12.22pt;
    font-family: Verdana;
}

.sub-categories img {
    width: 20px;
}

.choose-header{
    padding-bottom: 30px;
}

.card-container {
    /* margin: 0px 5px; */
    width: 150px;
    height: 200px;
}

.card-ctnr{
    display: flex;
    justify-content: space-around;
}

.card:hover{
    margin-top: -10px;
    box-shadow: 6px 6px 3px rgba(0,0,0,0.1);
}

.card {
    box-shadow: 3px 2px 2px rgba(0,0,0,0.1);
}

.card-gap {
    margin: 0px -40px;
}

.card-gap-left{
    margin: 0px 20px;
}
.categories-title{
    font-size: 26.37px;
    font-family: Verdana;
}
.categories-body{
    font-size: 10.93px;
    word-break: break-word;
    font-family: Verdana;
}

.choose-title{
    font-size: 9.44pt;
}

.lock-img{
    height: 17.365px;
    width: 13.841px;
}

.mail-img{
    height: 10.809px;
    width: 20.85px;
}

.clipboard-img{
    height: 21.87px;
    width: 15.527px;
}

.attachment-img{
    height: 15.094px;
    width: 17.17px;
}


.connect-body{
    font-size: 7.29pt;
    font-weight: 400;
    padding: 0;
}

.laptop-img{
    max-width: 100%;
    max-height: 100%;
}

.quote-padding {
    padding: 10px 20px;
}

.quote-header {
    padding: 40px 0px 0px 0px;
}

.quote-sub-header {
    font-family: Verdana;
    font-size: 8.98px;
    margin: 0;
}

.quote-spacing{
    margin-top: 60px;
}

.quote-btn {
   border: 1px solid #333;
   border-radius: 25px;
   width: 200px !important;
}
.quote-btn a{
    font-size: 9.77px;
    font-family: Verdana;
    text-decoration: none;
    color: #333;
}

.image-right {
    max-width: 321px;
    max-height: 305px;
}

.download-spacing{
    margin: 40px 0px 40px 0px;
}

.download-images{
    margin-top: 40px;
}


/* === start main css === */

.gray-bg {
    background: url("midsection/gray.png");
    background-size: cover;
    
}


.card-bdr:hover {
    margin-top: -10px;
    box-shadow: 3px 3px 3px #b2b2b2;
}

.pro-style img{
    width: 100%;
    max-height: 100%;
}

.grey{
    background-color: grey;
}

.blue{
    background-color: blue;
}

.body-content-container{
    margin: 50px 0 50px 0;
}

.body-content-section-1 h1{
    text-align: center;
}

.body-content-section-2{
    margin-top: 120px;
}

.body-content-section-3{
    margin-top: 120px;
    padding: 0 20px;
}

.body-content-section-4{
    margin-top: 120px;
    margin-top: 50px;;
}

.body-content-section-5{
    margin-top: 60px;
}

.sample{
    padding: 0;
   display: flex;
   flex-direction: column;
   height: 300px;
}

.sample p{
    margin-top: 10px;
    padding: 16px;
}

.card-img-container{
    margin: 0 auto;
    width: 30%;
    /* height: 50%; */
}

.card-img-container img{
    width: 100%;
    height: auto;
}

.section-3-img-container {
    padding: 0;
    width: 100%;
}

.section-3-img-container img{
    width: 100%;
    height: auto;
}

.section-3-content{
    font-size: 16pt;
    margin-top: 12px;
}

.section-3-text-content{
    margin-top: 46px;
}

.section-4-card-container{
    margin-top: 60px;
}



.section-4-card-container .card{
    padding-top: 10px;
}

.card ul{
    margin-top: 10px;
    list-style: none;
}

.join-btn {
    position: absolute;
    margin: -14% 0 0 75%;
    border-radius: 25px;
    color: black;
    padding: 8px 15px;
    border: none;
    background: white;
    font-weight: bold;
    font-family: Verdana;
    border-color: white;
}

.join-btn:hover {
    color: rgba(253,191, 8, 1);
}



.phone-img{
    max-width: 100%;
    max-height: 100%;
}

.download {
    margin: 20px;
    font-family: Verdana;
    font-weight: bold;
}

.download.header {
    text-align: justify;
    margin: 40px 25% 0px;
    font-size: 26.3pt;
}

.download.content {
    text-align: justify;
    font-size: 10.9pt;
    margin: 20px 25%;
    word-spacing: 2px;

}



/* .img-ection-left{
    width: 100%;
    max-height: 100%;
    text-align: center;
} */

.ctr-gap {
    margin: 60px 0px;
}

.divider{
    padding: 20px 0px;
}

.dot-section{
    padding: 50px;
}

/* === end main css === */

/* ================================= */
/* ================================= */

/* === start footer css === */
.ftr-row1 span {
    font-family: Verdana;
    font-weight: bold;
    padding: 0px 10px 0px 0px;
}

.ftr-row1 {
    font-size: 11.39px;
    border-bottom: 2px solid #b2b2b2;
    margin: 20px 0px;
    padding: 20px 0px;
}


.ftr-row3 {
    border-top: 2px solid #b2b2b2;
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: center;
}

.ftr-mid a {    
    font-family: Verdana;
    padding: 0px 10px;
    font-weight: 400;
    font-size: 11.39px;
}

.ftr-img1 {
   float: left;
}
.ftr-img2 {
  float: right;
}

.ftr-row2 ul li {
    font-family: Verdana;
    list-style: none;
    font-size: 11.39px;
}

.fb, .twt, .insta, .ln {
    color: #333;
}

.fb:hover, .twt:hover, .insta:hover, .ln:hover {
    color: rgba(253,191,8,1);
}

.ftr-asset {
    padding: 0px 5px;
}

.list-no-padding ul{
    padding: 0;
}


/* === end footer css === */

/* ================================= */
/* ================================= */

/* === responsive css === */
@media  (min-width: 1347px) {
    .btn a {
        font-size: 20pt;
    }
}

@media (max-width:768px) {
    .toggle {
        display: block; 
        background: rgba(253,191,8,1);
        color: #fff;
        padding: 5px 20px;
        font-size: 45pt;
        text-align: right;
    }

    .logo {
        float: left;
        padding: 0px 20px;
    }

    .join-btn {
        margin: -15% 0 0 70% !important;
        padding: 3px 7px !important;
        font-size: 12pt;

    }

    .btn a {
        font-size: 12pt;
    }

    .btn {
        padding: 5px 10px !important;
    }

    .carousel-caption {
        bottom: 20% !important;
    }

    .header-nav {
        display: none;
        width: 100%;
    }

    .header-nav li  {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .ftr-mid a {    
        padding: 0px;
    }

    .active {
        display: block;
    }
    
    footer{
            text-align: center;
    }
    .footerImg{
        text-align: left;
        padding-right: 20pt;
    }
    .card-gap {
        margin: 0px;
    }
}